* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(8, 42, 47);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    background-color:rgb(3, 27, 31);
    width: 100%;
    height: 100px;
    margin: 0px auto;
    border-bottom: 3px rgb(189, 233, 43);
    padding: 20px;
    top: 0;
    line-height: 100px;
    /*background-image: url('Images/olim02.png');
    background-repeat: no-repeat;
    background-size: 100px;*/
    justify-content: space-between;
}

h1{
    font-size: 28px;
    color: rgb(220, 250, 114);
    text-align: center;
}
.logo {
    width: auto;
    height: auto;
    max-width: 7rem;
}

.filters-conteiner {
    display: flex;
    background: rgb(177, 226, 183);/*no se ve*/
    width: 100%;
    height: 40px;
    align-items: center;/*alinea de forma vertical*/
    border-bottom: 2px rgb(8, 42, 47);
    justify-content: space-between;/*center*/
    padding: 1rem;/*?no veo cambio */
}

.filtersList {
    display: flex;
    margin: 10px;
    line-height: 30px;
}

/*.filtersList select {
    text-decoration: none;
    color: rgb(8, 42, 47);
}*/


.clearfix {
    clear: both;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(8, 42, 47);
    background-position: center;
}

h2 {
    color: rgb(220, 250, 114);
    text-align: center;
}

.cards-conteiner {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.flex-card {
    background-color: rgb(1, 25, 27);
    color: rgb(222, 222, 85);
    border: 3px solid rgb(179, 237, 84);
    margin: 50px;
    padding: 20px;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    list-style-type: none;
    gap: 1rem; /*separar los item*/
    text-align: center;
    align-items: center;
}

footer {
    background-color:rgb(2, 25, 28);
    color: rgb(173, 217, 177);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    font-size: 14px;

  }

.open-menu,
.close-menu {
    display: none;
} 

@media screen and (max-width:768px){
    .open-menu,
    .close-menu{
        display: block;
    }

    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    .filtersList {/*nav*/
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #05211a;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(11, 122, 70, 0.5);
    }

    .filtersList.visible {
        opacity: 1;
        visibility: visible;
    }
    .filtersList select {
        color: rgb(6, 34, 24);
    }
    
    /* {
            align-items: end;
    }*/
}

