* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(8, 42, 47);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    display: flex;
    background-color: rgb(8, 42, 47);
    width: 100%;
    height: 100px;
    margin: 0px auto;
    border-bottom: 3px rgb(189, 233, 43);
    padding: 0px;
    top: 0;
    line-height: 100px;
    justify-content: space-between;
}
h1 {
    font-size: 28px;
    color: rgb(203, 230, 107);
    text-align: center;
    text-align: left;
    margin-right: 50px;
}
.filters-container {
    display: flex;
    background: rgb(151, 213, 151);
    width: 100%;
    height: 40px;
    align-items: center;
    /*alinea de forma vertical*/
    border-bottom: 2px rgb(8, 42, 47);
    justify-content: space-between;
    /*center*/
    padding: 1rem;
    /*?no veo cambio */
}
.filtersList {
    display: flex;
    margin: 10px;
    padding: 10px;
    line-height: 30px;
}
#medal-filter,
#gender-filter, 
#select-sort {
    margin: 7px;
    padding: 5px;
    background-color: rgb(15, 54, 7);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c2e4c0;
}
#clear {
    margin: 7px;
    padding: 5px;
    background-color: rgb(203, 230, 107);
    border-radius: 4px;
    color: #092922;
}
.clearfix {
    clear: both;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(8, 42, 47);
    background-position: center;
}
h2 {
    color: rgb(220, 250, 114);
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.cards-container {
    background-color: rgb(8, 42, 47);
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}
.imgLogo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex-card {
    background-color: rgb(159, 210, 156);
    color: rgb(3, 27, 31);
    border: 3px solid rgb(151, 182, 101);
    font-size: 15px;
    margin: 30px;
    padding: 15px;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    box-sizing: border-box;
    gap: 1rem;
    text-align: center;
    display: inline-block;
    position: relative;
}
.name {
    font-size: 22px;
    color:rgb(7, 75, 87);   
    font-weight: bold; 
    margin-top: 30px;
}
.team {
    color:rgb(168, 111, 46);
    font-size: 18px;
    font-weight: bold;
}
.elements {
    color: rgb(41, 102, 41);
    font-size: 14px;
    display: inline;
    border-radius: 5px;
    margin: 1px;
}
.event {
    text-align: center;
    font-size: 14px;
}
footer {
    background-color: rgb(2, 25, 28);
    color: rgb(173, 217, 177);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
.open-menu,
.close-menu {
    display: none;
}

@media screen and (max-width:768px) {

    .open-menu,
    .close-menu {
        display: block;
    }
    header {
        display: flex;
    }
    .logo {
        width: 100%;
        height: auto;
    }
    h1 {
        visibility: hidden;
    }
    h2 {
        font-size: 16px;
    }
    .filtersList {
        /*nav*/
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #05211a;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(11, 122, 70, 0.5);
    }
    .filtersList.visible {
        opacity: 1;
        visibility: visible;
    }
    .filtersList select {
        color: rgb(188, 225, 182);
    }
}