* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(2, 25, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    display: flex;
    background-color: rgb(6, 32, 43);
    width: 100%;
    height: 100px;
    margin: 0px auto;
    border-bottom: 3px rgb(72, 173, 18);
    padding: 0px;
    top: 0;
    line-height: 100px;
    justify-content: space-between;
}
h1 {
    font-size: 28px;
    color: rgb(173, 243, 76);
    text-align: center;
    text-align: left;
    margin-right: 50px;
}
.filters-container {
    display: flex;
    background: rgb(194, 228, 155);
    width: 100%;
    height: 60px;
    align-items: center;
    /*alinea de forma vertical*/
    border-bottom: 2px rgb(39, 92, 4);
    justify-content: space-between;
    /*center*/
    padding: 1rem;
    gap: 2rem;
  
}
.filtersList {
    display: flex;
    margin: 20px;
    padding: 15px;
    line-height: 30px;
}
#medal-filter,
#gender-filter, 
#select-sort {
    margin: 7px;
    padding: 5px;
    background-color: rgb(13, 82, 132);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eff0dd;
}
#clear {
    margin: 7px;
    padding: 5px;
    background-color: rgb(186, 233, 152);
    border-radius: 4px;
    color: #117627;
    border-color: #0eab89;
}
.clearfix {
    clear: both;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(17, 29, 49);
    background-position: center;
}
h2 {
    color: rgb(235, 174, 76);
    text-align: center;
    font-size: 20px;
    padding: 30px;
}
.cards-container {
    background-color: rgb(17, 29, 49);
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}
.imgLogo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    right: 100px;
}
.flex-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(193, 235, 238);
    color: rgb(3, 27, 31);
    border: 3px solid rgb(21, 154, 174);
    font-size: 15px;
    margin: 30px;
    padding: 15px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    /*list-style-type: none;*/
    gap: 1rem;
    text-align: center;
    align-items: center;
    /*text-align: justify;*/
    position: relative;
}
.name {
    font-size: 19px;
    color:rgb(9, 61, 99);   
    font-weight: bold; 
    margin-top: 30px;
}
.team {
    color:rgb(205, 124, 32);
    font-size: 14px;
    font-weight: bold; 
    margin: 4px;
    padding: 2px;
}
.elements {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(41, 102, 41);
    font-size: 12px;
    border: #05211a;
    margin: 0px;
    padding: 1rem;
  }
  
  .medal {
    background-image: url("Images/Medal.png");
    background-size: cover;
    background-position: center;
    width: 40px; 
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #116e70;
  }
.sport {
    font-size: 16px;
    color: #117627;
    font-weight: bold;
}
.style-event {
    font-size: 10px;
    font-weight: bold;
}
.event {
    font-size: 14px;
}
footer {
    background-color: rgb(2, 25, 28);
    color: rgb(173, 217, 177);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
.open-menu,
.close-menu {
    display: none;
}

@media screen and (max-width:768px) {

    .open-menu,
    .close-menu {
        display: block;
    }
    header {
        display: flex;
    }
    .logo {
        width: 100%;
        height: auto;
    }
    h1 {
        visibility: hidden;
    }
    h2 {
        font-size: 16px;
    }
    .filtersList {
        /*nav*/
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #05211a;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(11, 122, 70, 0.5);
    }
    .filtersList.visible {
        opacity: 1;
        visibility: visible;
    }
    .filtersList select {
        color: rgb(188, 225, 182);
    }
}